<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SafetyBarriers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SafetyBarriers.Properties.Settings>
            <setting name="BarrierAxisElemIds" serializeAs="String">
                <value />
            </setting>
            <setting name="BoundCurve1" serializeAs="String">
                <value />
            </setting>
            <setting name="BoundCurve2" serializeAs="String">
                <value />
            </setting>
            <setting name="PostIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PostStep" serializeAs="String">
                <value>2.5</value>
            </setting>
        </SafetyBarriers.Properties.Settings>
    </userSettings>
</configuration>